In [1]:
from iduedu import get_4326_boundary

poly = get_4326_boundary(osm_id=1114252)

In [44]:
from shapely import Polygon
import pandas as pd
from iduedu.modules.overpass_downloaders import _poly_to_overpass, _overpass_request
from iduedu import config


def get_subway_entrances(polygon: Polygon) -> pd.DataFrame:
    polygon_coords = _poly_to_overpass(polygon)
    overpass_query = \
        f"""
        [out:json][timeout:500];
        rel(poly:"{polygon_coords}")["route"="subway"]->.routes;
        node(r.routes)-> .route_nodes;
        rel(bn.route_nodes)->.stop_areas;
        
        .stop_areas     out geom qt;

        """

    resp = _overpass_request(
        method="POST",
        overpass_url=config.overpass_url,
        data={"data": overpass_query},
    )
    json_result = resp.json()["elements"]
    # data = pd.DataFrame(json_result)
    return json_result


data = get_subway_entrances(poly)

In [51]:
def tags(e): return e.get("tags") or {}

elements =data

routes      = pd.DataFrame([e for e in elements if e["type"] == "relation" and tags(e).get("route") == "subway"])
stop_areas  = [e for e in elements if e["type"] == "relation" and tags(e).get("public_transport") == "stop_area"]

In [57]:
# Вообщем надо вытаскивать мемберов из routes и stop_areas и маппить как то. Связку делать по нодам stops, которые и там и там есть

In [52]:
routes

,type,id,bounds,members,tags
0,relation,252536,"{'minlat': 59.8305646, 'minlon': 30.2009214, '...","[{'type': 'node', 'ref': 8504823754, 'role': '...","{'colour': 'green', 'from': 'Рыбацкое', 'name'..."
1,relation,252537,"{'minlat': 59.9085846, 'minlon': 30.2624551, '...","[{'type': 'node', 'ref': 8512025927, 'role': '...","{'colour': 'orange', 'from': 'Улица Дыбенко', ..."
2,relation,252541,"{'minlat': 59.8194945, 'minlon': 30.2554137, '...","[{'type': 'node', 'ref': 4709806345, 'role': '...","{'colour': 'purple', 'from': 'Шушары', 'name':..."
3,relation,2446058,"{'minlat': 59.819446, 'minlon': 30.2548038, 'm...","[{'type': 'node', 'ref': 2035003144, 'role': '...","{'colour': 'purple', 'from': 'Комендантский пр..."
4,relation,2446060,"{'minlat': 59.8304422, 'minlon': 30.2008557, '...","[{'type': 'node', 'ref': 4770279101, 'role': '...","{'colour': 'green', 'from': 'Беговая', 'name':..."
5,relation,2446061,"{'minlat': 59.9085846, 'minlon': 30.262436, 'm...","[{'type': 'node', 'ref': 12456153994, 'role': ...","{'colour': 'orange', 'from': 'Горный институт'..."

In [59]:
pd.DataFrame(elements)

,type,id,bounds,members,tags
0,relation,252536,"{'minlat': 59.8305646, 'minlon': 30.2009214, '...","[{'type': 'node', 'ref': 8504823754, 'role': '...","{'colour': 'green', 'from': 'Рыбацкое', 'name'..."
1,relation,252537,"{'minlat': 59.9085846, 'minlon': 30.2624551, '...","[{'type': 'node', 'ref': 8512025927, 'role': '...","{'colour': 'orange', 'from': 'Улица Дыбенко', ..."
2,relation,252541,"{'minlat': 59.8194945, 'minlon': 30.2554137, '...","[{'type': 'node', 'ref': 4709806345, 'role': '...","{'colour': 'purple', 'from': 'Шушары', 'name':..."
3,relation,2446058,"{'minlat': 59.819446, 'minlon': 30.2548038, 'm...","[{'type': 'node', 'ref': 2035003144, 'role': '...","{'colour': 'purple', 'from': 'Комендантский пр..."
4,relation,2446060,"{'minlat': 59.8304422, 'minlon': 30.2008557, '...","[{'type': 'node', 'ref': 4770279101, 'role': '...","{'colour': 'green', 'from': 'Беговая', 'name':..."
5,relation,2446061,"{'minlat': 59.9085846, 'minlon': 30.262436, 'm...","[{'type': 'node', 'ref': 12456153994, 'role': ...","{'colour': 'orange', 'from': 'Горный институт'..."
6,relation,10110724,"{'minlat': 59.8543509, 'minlon': 30.3926427, '...","[{'type': 'node', 'ref': 4709806342, 'role': '...","{'name': 'Проспект Славы', 'public_transport':..."
7,relation,2692294,"{'minlat': 59.868591, 'minlon': 30.379013, 'ma...","[{'type': 'node', 'ref': 695134915, 'role': 's...","{'name': 'Международная', 'public_transport': ..."
8,relation,2692268,"{'minlat': 59.882303, 'minlon': 30.3691167, 'm...","[{'type': 'node', 'ref': 695134921, 'role': 's...","{'name': 'Бухарестская', 'public_transport': '..."
9,relation,18471310,"{'minlat': 59.9305133, 'minlon': 30.2608207, '...","[{'type': 'node', 'ref': 12452281516, 'role': ...","{'name': 'Горный институт', 'public_transport'..."
10,relation,7590978,"{'minlat': 59.948426, 'minlon': 30.2344226, 'm...","[{'type': 'node', 'ref': 249307184, 'role': 's...","{'name': 'Приморская', 'public_transport': 'st..."
11,relation,8330411,"{'minlat': 59.9712396, 'minlon': 30.2116563, '...","[{'type': 'node', 'ref': 5614907439, 'role': '...","{'name': 'Зенит', 'old_name': 'Новокрестовская..."
12,relation,8412614,"{'minlat': 59.9866108, 'minlon': 30.201568, 'm...","[{'type': 'node', 'ref': 5644650789, 'role': '...","{'name': 'Беговая', 'public_transport': 'stop_..."
13,relation,2612934,"{'minlat': 59.9426599, 'minlon': 30.2752855, '...","[{'type': 'node', 'ref': 2468455392, 'role': '...","{'name': 'Василеостровская', 'public_transport..."
14,relation,7590977,"{'minlat': 59.9480129, 'minlon': 30.2833282, '...","[{'type': 'node', 'ref': 88833360, 'role': 'st...","{'name': 'Спортивная', 'public_transport': 'st..."
15,relation,9334732,"{'minlat': 59.959325, 'minlon': 30.2917982, 'm...","[{'type': 'node', 'ref': 88833366, 'role': 'st...","{'name': 'Чкаловская', 'public_transport': 'st..."
16,relation,7590976,"{'minlat': 59.9700949, 'minlon': 30.2593129, '...","[{'type': 'node', 'ref': 91264383, 'role': 'st...","{'name': 'Крестовский остров', 'public_transpo..."
17,relation,7590975,"{'minlat': 59.987192, 'minlon': 30.2548193, 'm...","[{'type': 'node', 'ref': 91264384, 'role': 'st...","{'name': 'Старая Деревня', 'public_transport':..."
18,relation,2656883,"{'minlat': 59.9131443, 'minlon': 30.3495178, '...","[{'type': 'node', 'ref': 359711518, 'role': 's...","{'name': 'Обводный канал', 'public_transport':..."
19,relation,2627501,"{'minlat': 59.9256484, 'minlon': 30.3165295, '...","[{'type': 'node', 'ref': 1109163153, 'role': '...","{'name': 'Спасская', 'public_transport': 'stop..."
20,relation,2627502,"{'minlat': 59.9269104, 'minlon': 30.3179886, '...","[{'type': 'node', 'ref': 92580819, 'role': 'st...","{'name': 'Садовая', 'public_transport': 'stop_..."
21,relation,7590973,"{'minlat': 59.9358745, 'minlon': 30.3127763, '...","[{'type': 'node', 'ref': 1440436739, 'role': '...","{'name': 'Адмиралтейская', 'public_transport':..."
22,relation,7590969,"{'minlat': 59.9335898, 'minlon': 30.3286973, '...","[{'type': 'node', 'ref': 249307183, 'role': 's...","{'name': 'Гостиный двор', 'public_transport': ..."
23,relation,2656895,"{'minlat': 59.9218185, 'minlon': 30.332748, 'm...","[{'type': 'node', 'ref': 2080777576, 'role': '...","{'name': 'Звенигородская', 'public_transport':..."
24,relation,7590972,"{'minlat': 59.9207661, 'minlon': 30.3549738, '...","[{'type': 'node', 'ref': 94877075, 'role': 'st...","{'name': 'Лиговский проспект', 'public_transpo..."
25,relation,7590971,"{'minlat': 59.9267256, 'minlon': 30.3447674, '...","[{'type': 'node', 'ref': 94858991, 'role': 'st...","{'name': 'Достоевская', 'public_transport': 's..."
26,relation,3325600,"{'minlat': 59.9304464, 'minlon': 30.3547858, '...","[{'type': 'relation', 'ref': 8362462, 'role': ...","{'name': 'Маяковская', 'public_transport': 'st..."
27,relation,7590968,"{'minlat': 59.8962329, 'minlon': 30.3573389, '...","[{'type': 'node', 'ref': 359711515, 'role': 's...","{'name': 'Волковская', 'public_transport': 'st..."
28,relation,7590967,"{'minlat': 59.9221252, 'minlon': 30.3833312, '...","[{'type': 'node', 'ref': 4946155636, 'role': '...","{'name': 'Площадь Александра Невского 2', 'pub..."
29,relation,7590966,"{'minlat': 59.9228911, 'minlon': 30.3852207, '...","[{'type': 'node', 'ref': 94890886, 'role': 'st...","{'name': 'Площадь Александра Невского 1', 'pub..."
30,relation,12433083,"{'minlat': 59.819446, 'minlon': 30.4320994, 'm...","[{'type': 'node', 'ref': 4709806344, 'role': '...","{'name': 'Шушары', 'public_transport': 'stop_a..."
31,relation,7590960,"{'minlat': 59.8303716, 'minlon': 30.499154, 'm...","[{'type': 'node', 'ref': 248088101, 'role': 's...","{'name': 'Рыбацкое', 'public_transport': 'stop..."
32,relation,10842672,"{'minlat': 59.8389109, 'minlon': 30.4099288, '...","[{'type': 'node', 'ref': 4709806343, 'role': '...","{'name': 'Дунайская', 'public_transport': 'sto..."
33,relation,7590959,"{'minlat': 59.8485708, 'minlon': 30.45751, 'ma...","[{'type': 'node', 'ref': 248088210, 'role': 's...","{'name': 'Обухово', 'public_transport': 'stop_..."
34,relation,7590958,"{'minlat': 59.8771712, 'minlon': 30.4395677, '...","[{'type': 'node', 'ref': 249302441, 'role': 's...","{'name': 'Ломоносовская', 'public_transport': ..."
35,relation,4286566,"{'minlat': 59.8650439, 'minlon': 30.4662801, '...","[{'type': 'node', 'ref': 249304980, 'role': 's...","{'name': 'Пролетарская', 'public_transport': '..."
36,relation,7590957,"{'minlat': 59.8965384, 'minlon': 30.4209597, '...","[{'type': 'node', 'ref': 5628614983, 'role': '...","{'name': 'Елизаровская', 'public_transport': '..."
37,relation,2925270,"{'minlat': 59.9283663, 'minlon': 30.4107019, '...","[{'type': 'node', 'ref': 291560159, 'role': 'e...","{'name': 'Новочеркасская', 'public_transport':..."
38,relation,7590956,"{'minlat': 59.9311373, 'minlon': 30.4388546, '...","[{'type': 'node', 'ref': 94896142, 'role': 'st...","{'name': 'Ладожская', 'public_transport': 'sto..."
39,relation,7590955,"{'minlat': 59.9072677, 'minlon': 30.4811429, '...","[{'type': 'node', 'ref': 211439601, 'role': 's...","{'name': 'Улица Дыбенко', 'public_transport': ..."
40,relation,7590954,"{'minlat': 59.9196162, 'minlon': 30.4625264, '...","[{'type': 'node', 'ref': 211439603, 'role': 's...","{'name': 'Проспект Большевиков', 'public_trans..."
41,relation,2618527,"{'minlat': 60.0085202, 'minlon': 30.2561608, '...","[{'type': 'node', 'ref': 6242445475, 'role': '...","{'name': 'Комендантский проспект', 'public_tra..."

In [56]:
pd.DataFrame(pd.DataFrame(stop_areas).iloc[0]['members'])

,type,ref,role,lat,lon,geometry
0,node,4709806342,station,59.856719,30.395332,NaN
1,node,8508603347,stop,59.856729,30.395520,NaN
2,node,8508603346,stop,59.856633,30.395129,NaN
3,way,734602166,platform,NaN,NaN,"[{'lat': 59.8557663, 'lon': 30.3962055}, {'lat..."
4,node,6848741005,entrance,59.858216,30.393861,NaN
5,node,6766180440,entrance,59.858329,30.392643,NaN
6,node,6848736367,entrance,59.854770,30.397394,NaN
7,node,6766180439,entrance,59.858555,30.393521,NaN
8,node,6766180454,entrance,59.854900,30.396132,NaN
9,node,6766180459,entrance,59.854351,30.397824,NaN

In [ ]:
for route_id in routes:

In [39]:
routes

,type,id,bounds,members,tags
0,relation,252536,"{'minlat': 59.8305646, 'minlon': 30.2009214, '...","[{'type': 'node', 'ref': 8504823754, 'role': '...","{'colour': 'green', 'from': 'Рыбацкое', 'name'..."
1,relation,252537,"{'minlat': 59.9085846, 'minlon': 30.2624551, '...","[{'type': 'node', 'ref': 8512025927, 'role': '...","{'colour': 'orange', 'from': 'Улица Дыбенко', ..."
2,relation,252541,"{'minlat': 59.8194945, 'minlon': 30.2554137, '...","[{'type': 'node', 'ref': 4709806345, 'role': '...","{'colour': 'purple', 'from': 'Шушары', 'name':..."
3,relation,2446058,"{'minlat': 59.819446, 'minlon': 30.2548038, 'm...","[{'type': 'node', 'ref': 2035003144, 'role': '...","{'colour': 'purple', 'from': 'Комендантский пр..."
4,relation,2446060,"{'minlat': 59.8304422, 'minlon': 30.2008557, '...","[{'type': 'node', 'ref': 4770279101, 'role': '...","{'colour': 'green', 'from': 'Беговая', 'name':..."
5,relation,2446061,"{'minlat': 59.9085846, 'minlon': 30.262436, 'm...","[{'type': 'node', 'ref': 12456153994, 'role': ...","{'colour': 'orange', 'from': 'Горный институт'..."

In [29]:
route_to_sa

{252536: {2612934,
  3325600,
  4286566,
  7590957,
  7590958,
  7590959,
  7590960,
  7590966,
  7590969,
  7590978,
  8330411,
  8412614},
 252537: {2627501,
  2925270,
  7590954,
  7590955,
  7590956,
  7590967,
  7590971,
  7590972,
  18471310},
 252541: {2618527,
  2627502,
  2656883,
  2656895,
  2692268,
  2692294,
  7590968,
  7590973,
  7590975,
  7590976,
  7590977,
  9334732,
  10110724,
  10842672,
  12433083},
 2446058: {2618527,
  2627502,
  2656883,
  2656895,
  2692268,
  2692294,
  7590968,
  7590973,
  7590975,
  7590976,
  7590977,
  9334732,
  10110724,
  10842672,
  12433083},
 2446060: {2612934,
  3325600,
  4286566,
  7590957,
  7590958,
  7590959,
  7590960,
  7590966,
  7590969,
  7590978,
  8330411,
  8412614},
 2446061: {2627501,
  2925270,
  7590954,
  7590955,
  7590956,
  7590967,
  7590971,
  7590972,
  18471310}}

In [23]:
pd.DataFrame(routes)

,type,id,bounds,members,tags
0,relation,252536,"{'minlat': 59.8305646, 'minlon': 30.2009214, '...","[{'type': 'node', 'ref': 8504823754, 'role': '...","{'colour': 'green', 'from': 'Рыбацкое', 'name'..."
1,relation,252537,"{'minlat': 59.9085846, 'minlon': 30.2624551, '...","[{'type': 'node', 'ref': 8512025927, 'role': '...","{'colour': 'orange', 'from': 'Улица Дыбенко', ..."
2,relation,252541,"{'minlat': 59.8194945, 'minlon': 30.2554137, '...","[{'type': 'node', 'ref': 4709806345, 'role': '...","{'colour': 'purple', 'from': 'Шушары', 'name':..."
3,relation,2446058,"{'minlat': 59.819446, 'minlon': 30.2548038, 'm...","[{'type': 'node', 'ref': 2035003144, 'role': '...","{'colour': 'purple', 'from': 'Комендантский пр..."
4,relation,2446060,"{'minlat': 59.8304422, 'minlon': 30.2008557, '...","[{'type': 'node', 'ref': 4770279101, 'role': '...","{'colour': 'green', 'from': 'Беговая', 'name':..."
5,relation,2446061,"{'minlat': 59.9085846, 'minlon': 30.262436, 'm...","[{'type': 'node', 'ref': 12456153994, 'role': ...","{'colour': 'orange', 'from': 'Горный институт'..."
6,relation,252536,NaN,"[{'type': 'node', 'ref': 8504823754, 'role': '...","{'colour': 'green', 'from': 'Рыбацкое', 'name'..."
7,relation,252537,NaN,"[{'type': 'node', 'ref': 8512025927, 'role': '...","{'colour': 'orange', 'from': 'Улица Дыбенко', ..."
8,relation,252541,NaN,"[{'type': 'node', 'ref': 4709806345, 'role': '...","{'colour': 'purple', 'from': 'Шушары', 'name':..."
9,relation,2446058,NaN,"[{'type': 'node', 'ref': 2035003144, 'role': '...","{'colour': 'purple', 'from': 'Комендантский пр..."
10,relation,2446060,NaN,"[{'type': 'node', 'ref': 4770279101, 'role': '...","{'colour': 'green', 'from': 'Беговая', 'name':..."
11,relation,2446061,NaN,"[{'type': 'node', 'ref': 12456153994, 'role': ...","{'colour': 'orange', 'from': 'Горный институт'..."

In [24]:
pd.DataFrame(pd.DataFrame(routes).iloc[2]['members'])

,type,ref,role,lat,lon,geometry
0,node,4709806345,stop_entry_only,59.820694,30.432246,NaN
1,way,731605981,platform_entry_only,NaN,NaN,"[{'lat': 59.8207202, 'lon': 30.4322818}, {'lat..."
2,node,8508603344,stop,59.839998,30.410913,NaN
3,way,734600254,platform,NaN,NaN,"[{'lat': 59.8404471, 'lon': 30.4105097}, {'lat..."
4,node,8508603347,stop,59.856729,30.395520,NaN
5,way,734602166,platform,NaN,NaN,"[{'lat': 59.8557663, 'lon': 30.3962055}, {'lat..."
6,node,2035003042,stop,59.868654,30.381963,NaN
7,relation,2692293,platform,NaN,NaN,NaN
8,node,2035003043,stop,59.882351,30.370478,NaN
9,relation,2692267,platform,NaN,NaN,NaN
10,node,2470718784,stop,59.896619,30.360636,NaN
11,way,192964821,platform,NaN,NaN,"[{'lat': 59.8962329, 'lon': 30.3606123}, {'lat..."
12,node,2035003070,stop,59.913144,30.351042,NaN
13,relation,2656881,platform,NaN,NaN,NaN
14,node,2035864703,stop,59.922009,30.332748,NaN
15,relation,2656887,platform,NaN,NaN,NaN
16,node,2056804600,stop,59.927596,30.319550,NaN
17,relation,8362431,platform,NaN,NaN,NaN
18,node,2470718782,stop,59.936208,30.313948,NaN
19,way,143178963,platform,NaN,NaN,"[{'lat': 59.9364204, 'lon': 30.3127763}, {'lat..."
20,node,5040600576,stop,59.950099,30.289195,NaN
21,way,663951203,platform,NaN,NaN,"[{'lat': 59.9494297, 'lon': 30.2883076}, {'lat..."
22,node,6214545148,stop,59.959344,30.292631,NaN
23,relation,4069761,platform,NaN,NaN,NaN
24,node,2470718786,stop,59.970675,30.262322,NaN
25,way,663951205,platform,NaN,NaN,"[{'lat': 59.9700949, 'lon': 30.2631623}, {'lat..."
26,node,2470718790,stop,59.987686,30.255764,NaN
27,way,663958219,platform,NaN,NaN,"[{'lat': 59.9881505, 'lon': 30.2554137}, {'lat..."
28,node,2035003146,stop_exit_only,60.010910,30.256161,NaN
29,relation,9269450,platform_exit_only,NaN,NaN,NaN
30,way,516323910,,NaN,NaN,"[{'lat': 59.8206936, 'lon': 30.4322461}, {'lat..."
31,way,192964810,,NaN,NaN,"[{'lat': 59.8679374, 'lon': 30.383051}, {'lat'..."

In [25]:
pd.DataFrame(pd.DataFrame(stop_areas).iloc[0]['members'])

   type         ref      role
0  node  4709806342   station
1  node  8508603347      stop
2  node  8508603346      stop
3   way   734602166  platform
4  node  6848741005  entrance
5  node  6766180440  entrance
6  node  6848736367  entrance
7  node  6766180439  entrance
8  node  6766180454  entrance
9  node  6766180459  entrance

In [10]:
pd.DataFrame(pd.DataFrame(data).iloc[0]['members'])

,type,ref,role,lat,lon,geometry
0,node,8504823754,stop_entry_only,59.831227,30.499319,NaN
1,way,154417697,platform_entry_only,NaN,NaN,"[{'lat': 59.8312887, 'lon': 30.4993214}, {'lat..."
2,node,8504823755,stop,59.849738,30.460007,NaN
3,way,182995253,platform,NaN,NaN,"[{'lat': 59.8505879, 'lon': 30.4615165}, {'lat..."
4,node,2035435020,stop,59.866365,30.467447,NaN
5,way,317849207,platform,NaN,NaN,"[{'lat': 59.8665371, 'lon': 30.4662801}, {'lat..."
6,node,8504823757,stop,59.878856,30.440320,NaN
7,way,182995158,platform,NaN,NaN,"[{'lat': 59.8794016, 'lon': 30.4395677}, {'lat..."
8,node,8504823759,stop,59.898105,30.421838,NaN
9,way,182994935,platform,NaN,NaN,"[{'lat': 59.8976704, 'lon': 30.4223724}, {'lat..."
10,node,8504823762,stop,59.923383,30.386918,NaN
11,way,193014341,platform,NaN,NaN,"[{'lat': 59.9228911, 'lon': 30.387521}, {'lat'..."
12,node,2035435071,stop,59.930627,30.357716,NaN
13,relation,8362462,platform,NaN,NaN,NaN
14,node,8504823763,stop,59.934313,30.330237,NaN
15,way,1213628028,platform,NaN,NaN,"[{'lat': 59.9340945, 'lon': 30.3311308}, {'lat..."
16,node,2045866989,stop,59.943260,30.275425,NaN
17,relation,2612932,platform,NaN,NaN,NaN
18,node,8504823766,stop,59.948797,30.238017,NaN
19,way,394449822,platform,NaN,NaN,"[{'lat': 59.9489906, 'lon': 30.2369193}, {'lat..."
20,node,5644519215,stop,59.972220,30.211957,NaN
21,way,592435998,platform,NaN,NaN,"[{'lat': 59.9716739, 'lon': 30.2119682}, {'lat..."
22,node,2982994575,stop_exit_only,59.987869,30.202539,NaN
23,way,592440662,platform_exit_only,NaN,NaN,"[{'lat': 59.9878775, 'lon': 30.2025772}, {'lat..."
24,way,193014324,,NaN,NaN,"[{'lat': 59.8312273, 'lon': 30.4993188}, {'lat..."
25,way,431477832,,NaN,NaN,"[{'lat': 59.8315342, 'lon': 30.4984823}, {'lat..."
26,way,294697648,,NaN,NaN,"[{'lat': 59.9306269, 'lon': 30.3577159}, {'lat..."

In [ ]:
from iduedu import get_single_public_transport_graph

subway_graph = get_single_public_transport_graph('subway', osm_id=1114252)

In [ ]:
from iduedu import graph_to_gdf
from iduedu import get_single_public_transport_graph
from iduedu import get_all_public_transport_graph

graph = get_all_public_transport_graph(osm_id=1114252, osm_edge_tags=['charge', 'from', 'name'])
gdf_graph = graph_to_gdf(graph, restore_edge_geom=True, nodes=False)
gdf_graph.explore(column='name')

In [ ]:

from iduedu.enums.network_enums import Network

import pandas as pd
import numpy as np
from shapely.geometry import LineString
import networkx as nx
from shapely import line_merge, MultiLineString
import geopandas as gpd
from iduedu import get_4326_boundary

way_filter = Network.DRIVE.filter
simplify = True
local_crs = 32636

from iduedu.modules.overpass_downloaders import get_network_by_filters
from iduedu import config

config.set_logger_lvl('DEBUG')

bounds = get_4326_boundary(osm_id=337422)
data = get_network_by_filters(bounds, way_filter)

# Разделяем на ноды и линии
nodes = data[data['type'] == 'node'].copy()
ways = data[data['type'] == 'way'].copy()

# Собираем все координаты в лист
coords_list = [
    np.asarray([(p["lon"], p["lat"]) for p in pts], dtype="f8")
    for pts in ways["geometry"].values
]

# определяем начала и концы каждого сегмента
starts = np.concatenate([a[:-1] for a in coords_list], axis=0)
ends = np.concatenate([a[1:] for a in coords_list], axis=0)
M = starts.shape[0]

# определяем длины каждого way для ссылок на индекс
lengths = np.array([a.shape[0] for a in coords_list], dtype=int)
seg_counts = np.maximum(lengths - 1, 0)

# сохраняем ссылки на индексы в ways
way_idx = np.repeat(ways.index.values, seg_counts)

geoms = [LineString([tuple(s), tuple(e)]) for s, e in zip(starts, ends)]

edges = gpd.GeoDataFrame(
    {"way_idx": way_idx},
    geometry=geoms,
    crs=4326
).to_crs(local_crs)
edges = edges.join(ways[["id", "tags"]], on="way_idx")

if simplify:
    simplified_lines = list(line_merge(MultiLineString(edges.geometry.to_list()), directed=True).geoms)
    simplified_lines = gpd.GeoDataFrame(geometry=simplified_lines, crs=local_crs)

    # точки середины линий и sjoin на ближайшую
    line_mid_points = simplified_lines.copy()
    line_mid_points.geometry = line_mid_points.interpolate(simplified_lines.length / 2)

    joined = gpd.sjoin_nearest(line_mid_points[["geometry"]], edges, how="left", max_distance=1)

    joined = joined.reset_index().drop_duplicates(subset="index").set_index("index")

    simplified_lines = simplified_lines.join(joined[['tags']])

    edges = simplified_lines

# Раскрываем необходимые теги
TAG_WHITELIST = ["oneway", "highway", "name", "maxspeed", "lanes"]

tags_data = pd.DataFrame.from_records(
    (
        {k: v for k, v in d.items() if k in TAG_WHITELIST}
        if isinstance(d, dict) else {}
        for d in edges["tags"]
    ),
    index=edges.index
)

edges = edges.join(tags_data)

# определить двусторонние дороги и продублировать перевернув

two_way = edges[edges["oneway"] != "yes"].copy()
two_way.geometry = two_way.geometry.reverse()

edges = pd.concat([edges, two_way], ignore_index=True)

# формируем ноды начала и конца каждой эджи
coords = edges.geometry.get_coordinates().to_numpy()
counts = edges.geometry.count_coordinates()
cuts = np.cumsum(counts)

first_idx = np.r_[0, cuts[:-1]]
last_idx = cuts - 1

starts = coords[first_idx]
ends = coords[last_idx]

edges["start"] = list(map(tuple, starts))
edges["end"] = list(map(tuple, ends))

all_endpoints = pd.Index(edges["start"]).append(pd.Index(edges["end"]))
labels, uniques = pd.factorize(all_endpoints)
n = len(edges)
u = labels[:n]
v = labels[n:]
attrs = edges[TAG_WHITELIST].to_dict("records")

G = nx.DiGraph()

G.add_nodes_from((i, {"x": float(x), "y": float(y)}) for i, (x, y) in enumerate(uniques))
G.add_edges_from(zip(u, v, attrs))

In [ ]:
nx.write_gml(G, "my_graph_simplify.gml", stringizer=lambda x: str(x))

In [ ]:
G.edges(data=True)

In [ ]:
+

In [ ]:
from iduedu.enums.network_enums import Network

import pandas as pd
import numpy as np
from shapely.geometry import LineString
import networkx as nx
from shapely import line_merge, MultiLineString
import geopandas as gpd
from iduedu import get_4326_boundary

way_filter = Network.DRIVE.filter
simplify = True
local_crs = 32636

from iduedu.modules.overpass_downloaders import get_network_by_filters
from iduedu import config

config.set_logger_lvl('DEBUG')

bounds = get_4326_boundary(osm_id=2555133)

In [ ]:
from osmnx import graph_from_polygon

graph_osmnx = graph_from_polygon(bounds, network_type='drive')

In [ ]:
from iduedu import get_drive_graph

iduedu_graph = get_drive_graph(territory=bounds)

In [ ]:
from osmnx import graph_from_polygon

graph_osmnx = graph_from_polygon(bounds, network_type='walk')

In [ ]:
from iduedu import get_walk_graph

iduedu_graph = get_walk_graph(territory=bounds)

In [ ]:
len(graph_osmnx.edges)

In [ ]:
len(iduedu_graph.edges)

In [ ]:
from pyproj import Transformer
from osmnx import project_graph

graph_osmnx = project_graph(graph_osmnx, to_crs=32636)
for node, data in graph_osmnx.nodes(data=True):
    if len(data) != 0:
        graph_osmnx.nodes(data=True)[node]['x'] = float(data['x'])
        graph_osmnx.nodes(data=True)[node]['y'] = float(data['y'])

In [ ]:
nx.write_gml(graph_osmnx, "graph_osmnx_walk.gml", stringizer=lambda x: str(x))

In [ ]:
nx.write_gml(iduedu_graph, "graph_iduedu_walk.gml", stringizer=lambda x: str(x))

In [ ]:

node_ids = set(ways["start"]).union(ways["end"])
needed_nodes = nodes.set_index('id').loc[list(node_ids)].copy()

In [ ]:
from shapely import Point
import geopandas as gpd

needed_nodes['geometry'] = list(map(Point, needed_nodes["lon"], needed_nodes["lat"]))
needed_nodes = gpd.GeoDataFrame(needed_nodes, geometry="geometry", crs=4326)
needed_nodes.explore()

In [ ]:
from networkx import DiGraph

new_graph = DiGraph()

In [ ]:
for _, row in ways.iterrows():

In [ ]:
from networkx import DiGraph

DiGraph().add_edge()

In [ ]:
ways

In [ ]:
gpd.GeoDataFrame(ways, geometry='geometry', crs=4326).explore()

In [ ]:
import geopandas as gpd

gpd.GeoDataFrame(ways, geometry='geometry', crs=4326).explore()

In [ ]:
line_lengths

In [ ]:
ways['geometry'].explode().apply(pd.Series).to_numpy()

In [ ]:
ways['geometry'].apply(len)

In [ ]:
ways['geometry'].apply(pd.Series)

In [ ]:
pd.json_normalize(ways['geometry'].apply(pd.Series))

In [ ]:
nodes[~nodes['tags'].isna()]